html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

  html, body {
    height: 100%;
    width: 100vw;
    margin: 0;
  }

  /* Collapse padding and border for all elements */
* {
    box-sizing: border-box;
  }

/* Website colour palette */
/* Set the page colors from www.coloors.co */
:root {
    --main-bk-color: #0D0221;
    --secondary-bk-color: #6688B0;
    --main-font-color: white;
    --visited-link: lightgrey;
    --hover-link: #C419BE;   
    --active-link: #279DC0;
    --highlight-bk-color: #C2E7D9;
    --highlight-font-color: #2628DD;
}

/* set content highlight color and background */
::selection {
    background-color: var(--highlight-bk-color);
    color: var(--highlight-font-color);
  }

/* Set the body colors and font */
body {
    color: var(--main-font-color);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    height: 100%;
}

/* Typography */
h1,
h2 {
    font-family: 'Josefin Sans', sans-serif;
}

h3 {
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Poppins', sa  ns-serif;;
    font-size: 1.2em;
}

h4 {
    font-family: 'Source Code Pro', sans-serif;
}

h5 {
    font-family:'Courier New', Courier, monospace;
}

/* Set the header colors and display style */
#navBar {
    height: 10em;
    margin: 0 auto;
    padding: 2.5em;
    background-color: var(--main-bk-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Div for the profile photo and my name to align them to the left */
#photo-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* styling for the profile photo */
#profile-photo {
    width: 12rem;
    height: auto;
    border-radius: 47.5%;
    margin-left: 2vw;
    margin-right: 0;
    overflow: hidden;
}

/* Profile photo sizing */
#profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* set the styling for my name */
#photo-name h1.name {
    font-size: 5rem;
    padding: 1rem 3.5rem;
    font-weight: bold;
}

/* push Navigation links to the right */
.navigation {
    margin-left auto;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navigation h2 {
    font-size: 24px;
}

/* style the navigation and contact links */
.navigation ul, 
.contact-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    display: flex;
}

/* style the page navigation links */
.navigation li,
.contact-links li {
    margin-right: 2em;
}

#navigationText a, 
#navigationIcons a {
    text-decoration: none;
    color: var(--main-font-color);
}

#navigationText a:hover, 
#navigationText a:focus, 
#navigationIcons a:hover, 
#navigationIcons a:focus  {
    cursor: pointer;
}

#navigationText a:hover, 
#navigationText a:focus  {
    color: var(--hover-link);
}

#navigationText a:active {
    color: var(--active-link);
}

#navigationText #resume a:visited {
    /* color: var(--visited-link); */
}

/* Hide navigation and contact icons in full size screen */
#navigationIcons, 
#contactIcons {
    display: none;
}

/* Separator image */
.hero-banner {
    height: 20vh;
    width: 100vw;
    background-image: url("../images/dark-sphere-small.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-repeat: no-repeat;
}

/* positioning the motto and setting up for animation */
.hero-banner div {
    margin-left: 10vw;
    margin-right: 20vw;
    overflow: hidden;
}

/* Styling the motto in the hero banner */
.motto {
    font-size: 2rem;
    color: var(--main-font-color)
    /* animation from https://blog.hubspot.com/website/scrolling-text-css */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  
    -moz-animation: my-animation 20s linear infinite;
    -webkit-animation: my-animation 20s linear infinite;
    animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* Main section that contains About me, My work, Contact me */

/* Set up the main section layout and design */
.page-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, var(--main-bk-color), var(--secondary-bk-color));
    /* outline: 2px double yellow; */
}

.page-section {
    display: flex;
    align-items: center;
    height: auto;
    margin: 2.5em 0;
}

/* Titles of the main sections */
.page-section h2 {
    flex: 0 0 15vw;
    font-size: 2em;
    border-right: 2px solid var(--main-font-color);
    text-align: end;
    padding-right: 2.5rem;
}

/* extra top margin for 1st section */
#about {
    margin-top: 7em;
}

#aboutText{
    padding-left: 3em;
    padding-right: 8em;
}

/* create a grid display for my projects */
.my-projects {
    min-height: 500px;
    height: 70vh;
    width: 80%;
    /* margin: 0px 5px; */
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        "project1 project2 project3"
        "project1 project4 project5";
    /* outline: 3px double magenta; */
}

#project1 {
    grid-area: project1;
    background-image: url(../images/project1.jpg);
}

#project2 {
    grid-area: project2;
    background-image: url(../images/project2.jpg);
}

#project3 {
    grid-area: project3;
    background-image: url(../images/project3.jpg);
}

#project4 {
    grid-area: project4;
    background-image: url(../images/project4.jpg);
}

#project5 {
    grid-area: project5;
    background-image: url(../images/project5.jpg);
}

/* size and style for all project cards */
.card {
    border-bottom: 3px solid white;
    display: flex;
    flex-direction: row wrap;
    align-items: flex-end;
    margin: 0.7em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* outline: 2px dotted greenyellow; */
}

/* project cards when moused over */
.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    /* box-shadow: 1px 1px 2px var(--main-bk-color), 0 0 25px var(--highlight-font-color), 0 0 5px var(--highlight-font-color); */
    box-shadow: 1px 1px 2px var(--main-bk-color), 0 0 25px var(--highlight-font-color), 0 0 5px var(--main-font-color);
}

/* style for the text in the cards */
.text {
    background-color: var(--main-bk-color);
    opacity: 0.8;
    padding: 2em 2em;
    width: 100%;
    /* outline: 2px dotted orange; */
}

/* The 'Contact' section with the contact links */
/* Set the height of 'Contact Me' section */
.contact-me {
    height: 7em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#contactText {
    position: relative;
    right: 10vw;
    font-family: ;
    font-size: 1.5em;
    /* outline: 2px dotted purple; */
}

/* display the 'Contact Me' links in the center */
.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

  /* Style the text links in the 'Contact me' section */
.contact-links a {
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px;
    margin: auto 2em;
    text-decoration: none;
    color: var(--main-font-color);
  }

#contactText a:hover, 
#contactText a:focus {
    background-color: var(--highlight-font-color);
    border-radius: 5px;
    cursor: pointer;
}

.contact-links a:active {
    color: var(--active-link);
}

/* Footer styling */
footer {
    background-color: var(--main-bk-color);
    height: 5em;
}

footer h5 {
    text-align: center;
    padding-top: 2em;
    font-weight: lighter;
    color: var(--secondary-bk-color);
}

/* Media queries to dynamically resize the page */

/* Small laptop or tablet screen */
@media only screen and (max-width: 1024px) {
    /* resize my name */
    #photo-name h1.name {
        font-size: 4rem;
        padding: 1rem 2rem;
    }

    /* resize the site navigation bar */
    .navigation {
        margin-right: 5px;
    }
    
    .navigation h2 {
        font-size: 20px;
    }
    
    .navigation li,
    .contact-links li {
        margin-right: 1em;
    }

    /* adjust margins around sections */
    .page-section {
        margin: 1.5em 0;
    }

    /* adjust the extra top margin for 1st section */
    #about {
        margin-top: 5em;
    }

    /* resize the section's title size */
    .page-section h2 {
        font-size: 1.5em;
        padding-right: 0.5em;
    }

    /* resize the 'About' text */
    #aboutText {
        padding-left: 1.5em;
        padding-right: 4em;
    }
}

/* Tablet screen - 768px */
@media only screen and (max-width: 768px) {
    #navBar {
        height: 8em;
        padding: 1em;
        /* display: flex; */
        justify-content: space-evenly;
    }
    
    /* styling for the profile photo */
    #profile-photo {
        width: 8rem;
        margin-left: 1vw;
    }
    
    #photo-name h1.name {
        font-size: 3rem;
    }
    
    .navigation h2 {
        font-size: 16px;
    }
    
    /* resize the hero banner */
    .hero-banner {
        height: 15vh;
    }

     /* change the main section layout */
     .page-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    /* resize section titles */
    .page-section h2 {
        flex: 0 0 8vw;
        font-size: 1.5em;
        /* padding: 0 auto 100px auto; */
        border-right: none;
    }

    /* reduce the 'About' section top and bottom margins */
    #about {
        margin: 3em 0;
    }

    /* resize the 'About' text */
    #aboutText {
        padding-left: 4em;
        padding-right: 4em;
        font-size: 12px;
    }

    /* resize the 'Portfolio' section */
    .my-projects {
        min-height: 300px;
        height: 50vh;
        width: 80%;
        margin: 0 auto 3em auto;
    }

    /* resize the project cards */
    .card {
        border-bottom: 2px solid white;
        margin: 0.3em;
    }

    /* change the text sizing on cards */
    .text {
        padding: 0.5em;
    }

    /* replace contact text with icons */
    #contactText {
        display: none;
    }

    #contactIcons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: 0 auto 25px auto;
    }

    #contactIcons a:hover,
    #contactIcons a:focus {
        cursor: pointer;
    }
}


/* Mobile phone screen - 425px */

@media only screen and (max-width: 425px) {
    /* resize navBar */
    #navBar {
        height: 5em;
        padding: 0.5em;
    }
    
    /* resize the profile photo */
    #profile-photo {
        width: 3.5rem;
        margin-left: 1vw;
    }
    
    /* resize my name */
    #navBar h1.name {
        font-size: 2rem;
    }

    /* resize the navigation text */
    #navigationText {
        margin-right: 2px;
    }
    
    .navigation h2 {
        font-size: 10px;
    }

    /* resize the hero banner */
    .hero-banner {
        height: 10vh;
    }

    .hero-banner h4 {
        font-size: 12px;
    }

    /* TODO: may need to delete */
    /* resize section titles */
    .page-section h2 {
        flex: 0;
        font-size: 1em;
        margin: 0 auto 10px auto;
        border-right: none;
    }

    /* reduce the 'About' section top and bottom margins */
    #about {
        margin: 15px auto;
    }

    /* resize the 'About' text */
    #aboutText {
        padding-left: 4em;
        padding-right: 4em;
        font-size: 12px;
    }
    /* END OF DELETE */

    /* resize the 'Portfolio' section */
    .my-projects {
        min-height: 100px;
        height: 50vh;
        width: 80%;
        margin: 0px 2px;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "project1 project1"
            "project2 project3"
            "project4 project5";
        /* outline: 3px double magenta; */
    }

    /* resize the project cards */
    .card {
        border-bottom: 1px solid white;
        margin: 5px;
    }

    /* change the text sizing on cards */
    .text {
        padding: 0 5px;
    }

    .text h3 {
        font-size: 14px;
    }

    .text p {
        font-size: 14px;
    }

    /* resize the 'Contact' section title */
    #contact h2 {
        margin: 20px auto;
    }
  
    /* replace contact text with icons */
    #contactText {
        display: none;
    }

    #contactIcons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .contact-links li {
        margin-right: 0;
    }

    /* resize the footer */
    footer {
        height: 4em;
    }

    footer h5 {
        font-size: 12px;
        padding-top: 2em;
    }
}

/* Mobile phone screen - 375px */

@media only screen and (max-width: 375px) {
    /* resize my name */
    #navBar h1.name {
        font-size: 1.5rem;
    }

    .contact-links a {
        padding: 2px;
        margin: auto 15px;
    }
}

/* Mobile phone screen - 320px */

@media only screen and (max-width: 320px) {

    /* resize navBar */
    #navBar {
        height: 4em;
        padding: 0.5em;
    }
    
    /* resize the profile photo */
    #profile-photo {
        width: 3rem;
        margin-left: 0.5vw;
    }
    
    /* resize my name */
    #navBar h1.name {
        font-size: 1rem;
    }

    /* resize the navigation text */
    #navigationText {
        margin-right: 1px;
    }
    
    .navigation h2 {
        font-size: 10px;
    }

    /* change the space between navigation links */
    .navigation li {
       margin: 0;
    }

    /* Style the text links in the 'Contact me' section */
    .contact-links a {
        margin: auto 10px;
    }
}

